<div class="container listpage">
    <div class="row">
      
        <div class="col-md-4 col-12" style="padding-top:50px;padding-bottom:50px" *ngFor= "let food of menuitems;">
            <div class="card text-center border-0 rounded-0">
                <div class="card-body">
                    <img class="img-fluid pb-3 list-img" src= {{food.imageurl}} alt= {{food.name}} onerror="this.onerror=null;this.src='../../assets/images/defaultfood.jpg';">
                    <h4 class="bak-white" style="font-weight:bold;">{{food.name}}</h4>
                    <p class="bak-white">{{food.description}}</p>
                    <p class="bak-white"><b>Price: </b>{{food.price}}</p>
                    <p class="bak-white"><b>Rating: </b><span *ngFor='let in of counter(food.avg_rating) ;let i = index' class="fa fa-star basic checked"></span></p>
                    
                </div>
                <div class="card-footer">
        
                    <a class="btn-success btn text-uppercase border addtocart"  
                    aria-label={{food.name}}>ADD TO CART &nbsp;&nbsp;&nbsp;
                    <input class="text-success" value="0" required min=0 max=10 type="number"></a>
                </div>
            </div>
            
        </div>
        
        <div class="col-lg-12 col-12 text-center">
            <a id="btnaddnewfood" class="videobtn btn text-uppercase" target="_blank" aria-label="Add new Item" href="/new">ADD NEW ITEM</a>
        </div>
    </div>
    </div>
    <router-outlet></router-outlet>
    
    