<div class="">
    <div class="">
        <div class= "col-12">
            <div class="col-md-6 col-sm-12 indexpage">
                <div class="text-center">
                    <a class="explore btn text-uppercase" href="/about">DINE IN</a>
                    
                </div>
              
            </div>
            <div class="col-md-6 col-sm-12 indexpage1">
                <div class="text-center">
                    <a class="explore btn text-uppercase" href="/about">TAKE OUT</a>
                </div>
              </div>
            </div>
            </div>
        </div>
        

