<div class="container">
    <div class="row">
            <div class="col-md-12 col-sm-12" style="min-height: 500px;">
                <div class="">
                    <h2 class="explore3 text-justify">EAT  .  DRINK  .  LOVE</h2>
                    <a class="explore btn text-uppercase" href="/menu">Order Online</a>
                    <a class="explore2 btn text-uppercase" href="/reservation">Reservation</a>
                    
                </div>
            </div>
    </div>
</div>
              

        

