/* You can add global styles to this file, and also import other style files */
/* @import url("../../../public/stylesheets/style.css"); */

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
  }

  .bodyimage{
    background-color: #f5f5f5;
    background: linear-gradient(rgba(2, 2, 2, 0.4), rgba(10, 10, 10, 0.6)), url(assets/images/back1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
  }

  .basic{
    color: grey;
  }
  .checked {
    color: orange;
  }
  
  
  .indexpage{
    background-image:url(assets/images/back1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    background-position: center;
    
  }

  .nav>li>a:focus, .nav>li>a:hover{
    background-color: transparent;
    color: white;
  }

  .navli:focus, .navli:hover{
    border: 2px solid white;
  }

  .indexpage1{
    background-image:url(assets/images/take_out.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    background-position: center;
   
  }
  
  .abouttitle{
    font-variant: small-caps;
    text-decoration: underline;
    color: #351c01;
    margin-bottom: 30px;
  }
  .abt-btm-img{
    object-fit: cover;max-width:550px;height:200px;
  }
  
  .listtitle{
    font-variant: all-petite-caps;
    text-decoration: underline;
    color: #351c01;
    margin-bottom: 10px;
  }
  
  .explore{
    min-width:200px;
    text-decoration:none;
    font-size: 18px;
    background-color: white;
    color: darkgray;
    border-radius: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .explore2{
    color:white;
    min-width:200px;
    text-decoration:underline;
    font-size: 18px;
    border-radius: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .explore2:hover{
    color: white;
    font-size: 20px;
  }
  .explore3{
    color:white;
    margin-top:200px;
    min-width:200px;
    text-decoration:none;
    font-size: 70px;
    border-radius: 0px;
    font-family: math;
  }
  
  table, td {
    border: 1px solid black;
  }
  
  .videobtn{
    color:white;
    line-height: 3em;
    max-width:200px;
    min-height: 50px;
    margin: 20px;
    background-color:green;
    text-decoration:none;
    font-weight:bold;
    font-size: 16px;
  }
  
  .explore:hover{
    background-color:white;
    color:#c11212;
    border:2px solid #c11212;
  }
  .explorelist:hover, .makeit:hover{
    color:yellow;
    background-color:green;
  }
  
  .makeit{
    background-color:#d20c1e;
    font-weight:bold
  }
  a.makeit:hover{
    color:greenyellow;
  }
  .explorelist{
    color:white;
    margin-top:10px;
    min-width:200px;
    background-color:#c11212;
    text-decoration:none;
    font-weight:bold
  }
  
  .img-about{
    object-fit:cover;
    border-radius:50%;
    width:200px;
    height:200px
  }
  
  .bak-white{
    background-color: #f5f5f5;
  }
  a {
    color:white;
    font-weight:bold;
  };
  
  
  .footerfixed {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  .navbar{
    margin-bottom: 0px;
  }
  
  .list-img{
    object-fit: cover;width:300px;height:200px;border-radius:50%
  }
  .logo-img{
    object-fit:contain;
    height:50px;
    border-radius:50%;
    margin-right: 5px;
  }

  .login-img{
    object-fit:contain;
    width:40px;height:40px;margin-left: 15px; margin-top:5px; cursor: pointer;
  }
  
  .register{
    color: blue;
    text-decoration: underline;
    font-size: small;
  }

  .portrait {
    height: 437px;
    object-fit: cover;
}

.control-label.required:after { 
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 5px;
  top:7px;
}
.error-msg {
  color: #a94442;
}
.fix-error-icon {
  top: 27px;
}

.required1 { 
  color: #d00;
  margin-left: 5px;
  top:1px;
}

.cart-text{
  color: red;
    padding-left: -10px;
    position: relative;
    left: -22px;
    font-size: x-large;
}

/* Style the search box inside the navigation bar */

.search-container {
  float: right;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

#searchstring {
  padding: 10px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  padding-right: 5px;;
}

.search-container button {
  float: right;
  padding:10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

 .search-container button:hover {
  background: #ccc;
}