<div class="container">
    <h1 class="abouttitle text-center" style="margin-bottom: 0px;">Cart Items</h1>
    <div class="pull-right" style="margin-bottom: 5px;">
        <a id="checkout" class="btn btn-success" style="padding:8px;font-size: large;" href="/checkout">Checkout</a>
    </div>
    
    <div style="clear: both;">
        <hr style="border-top:2px solid #f0b908; padding-top: 2px;"/>
    <div class="col-md-6" *ngFor= "let food of foodDetails;">
        <div class="card border-0 rounded-0">
            <div class="card-body text-justify">

            <div class="col-sm-5 text-center" style="padding:15px;">
                <img class="img-fluid pb-3 list-img" src= {{food.itemImage}} alt= {{food.itemName}} onerror="this.onerror=null;this.src='../../assets/images/defaultfood.jpg';">
               
            </div>
            <div class="col-sm-7" style="padding:15px;">
                <h5 class="bak-white" style="font-weight:bold;">{{food.itemName}}</h5>
                <label><b>Quantity: </b></label>
                <input id="quan" type="number" value= {{food.quantity}}>
                <p class="bak-white"><b>Price: </b>{{food.itemPrice}}</p>
                <input id="foodguid" type="hidden" value= {{food.ItemID}}>
                <a id="updatecart" class="btn btn-primary updatecart">Update Cart</a>
                <a id="deleteitem" class="btn btn-danger deleteitem" style="margin-left: 10px;">Remove</a>
            </div>
            </div>
            </div>
        
    </div>
    </div>
</div>


<!-- {{ this.foodForm.value | json }} -->